<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>~@k</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Fix Layout with KeyFixer</string>
			</dict>
			<key>NSMessage</key>
			<string>fixSelectedText</string>
			<key>NSPortName</key>
			<string>KeyFixer</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>NSTextContentSelected</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
